{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="mb-3">Удаление статьи</h1>
</div>
<div class="row justify-content-center mt-5 g-4">
    <div class="col-md-5 col-lg-5 mb-4">
        <div class="card" style="width: 50vh;">
            <div class="card-body">
                <form class="row" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p class="card-text">Действительно удалить {{ object.title }}?</p>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-danger">
                            Удалить
                        </button>
                        <a href="javascript:history.back()" class="btn btn-secondary">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}